body {
  margin: 0;
  font-family: 'Source Serif Pro', serif, -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ceb8a4;
  /* background-image: url('./bg.svg'); */
  color: rgb(60, 45, 33);
}

/* OffcanvasExample {
  background-color: #ceb8a4;
} */
.brand {
  font-size: 2rem;
  padding-left: 0.5rem;
}

.offcanvas {
  background-color: #ceb8a4;
}

.offcanvas-title,
.offcanvas-body {
  font-size: 1.3rem;
}

.intro {
  padding-top: 10rem;
  padding-left: 10rem;
}

.intro-text {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 0%;
}

.intro-interests {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.my-pic {
  height: 200px;
  width: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.about {
  padding-top: 5rem;
}
